.storybook-button {
  font-family: var(--font-family);
  font-weight: var(--font-family);
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: var(--line-height);
  font-size: 14px;
  padding: var(--padding-v) var(--padding-h);
}

.storybook-button--primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

.storybook-button--secondary {
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
}

.storybook-button--danger {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.storybook-button--success {
  color: var(--color-white);
  background-color: var(--color-success);
}

.storybook-button--warn {
  color: var(--color-white);
  background-color: var(--color-warn);
}
